/*
*****************************************
COPYRIGHT 2017 V-TECH VENTURES
*****************************************
*/

html, body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    text-align: center;
    text-rendering: optimizeLegibility;
    letter-spacing: 1.6px;
    line-height: 1.2;
    color: black;
    width: 90%;
    margin: 0 auto;
    padding: 0px;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: black;
    padding: 0 0 20px 0;
    border-bottom: 2px solid grey;
}

h2 {
    font-size: 2.2rem;
    font-weight: bold;
    margin: 0px auto;
    font-family: "Monserrat", sans-serif; 
}

h3 {
    font-size: 1.7rem;
    color: #fe3408;
    letter-spacing: 0.5px;
    font-family: 'Courier New', Courier, monospace;
}

p {
    margin: 10px;
    padding: 20px;
    font-size: .8rem;
    line-height: 1.8;
    color: black;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: black;
}

button {
    border: 2px solid black;
}

.nav_slide {
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #259e43;
    overflow-x: hidden;
    z-index: 1;
    padding-top: 40px;
    transition: 0.5s;
}

.nav_panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    margin-bottom: 30px;
}

.nav_links {
    columns: #777777;
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
    letter-spacing: 0.1px;
    font-weight: 600;
}

.navigation__socialButtons--color {
    display: block;
    color: #fe3408;
    padding: 50px;
    font-size: 1.2rem;
    
}

/* JUMBO SECTION*/
.jumbotron {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    border-radius: 1%;
    background-image: url("../images/abstract-attractive-backdrop-988872-min.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

/* 
both sides will be set to 50% so the text and picture 
stack perfectly side by side on desktops
*/

@keyframes typeWriterEffect {
    0% {opacity: 0; color: #DCE0E3 }
    100% {opacity: 1; color: black}
}

.jumbotron__paragr--shadowed {
    opacity: 0.0;
    box-shadow: 20px 20px 800px #5a4f4f4f;
    border-radius: 2%;
    margin: 60px auto;
    font-family: "Montserrat", sans-serif;
    transition: 0.8s;
}

/*FORM Formatting*/

.form__format {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 5px;
    margin-top: 40px;
}

.form__input {
    border: none;
    padding: 10px;
    border-bottom: 2px solid #50564F;
    width: 24em;
    font-weight: 600;
    text-align: center;
    background-color: transparent;
}

.form__input:focus {
    outline: none;
    border-bottom: 2px solid black;
    opacity: 0.5;
    transition: 0.5s;
}

.form__input:focus::-webkit-input-placeholder {
    color:transparent;

}

.button__form-red {
    background: transparent;
    border: none;
}

.button--envelopRed {
    color: #259e43;
    padding: 5px 50px;
    margin: 5px;
    cursor: pointer;
    transition: color .5s;
}

footer {
    height: 100px;
}

@media only screen and (min-width: 700px){
    .jumbotron {
        flex-flow: row nowrap;
    }
    
}



